footer {
  bottom: 0;
  width: 100%;
  height: 205px;
}

#logo {
  max-width: 250px;
}

.contacto {
  max-width: 10px;
}

.row {
  height: 100% ;
  width: 100%;
  background-image: linear-gradient(#343434, #A00000);
  color: #FFF;
  text-align: center;
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
 
  height: 200px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fuente {
  font-size: medium;
}

.titulos {
  font-size: 23px;
}

a:hover {
  color: #A00000;
}
